################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/BaseCode/.vs/BaseCode/FileContentIndex
/.vs
