################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/BaseCode/.vs/BaseCode/FileContentIndex
/.vs
/BaseCode/.vs/BaseCode/v17/.suo
/BaseCode/.vs/BaseCode/DesignTimeBuild/.dtbcache.v2
